@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

:root {
  --primary: #1D4ED8; /* blue-700 */
  --secondary: #fd1818; /* red-600 */
  --accent: #f3cf00; /* amber-500 */
}

@theme inline {
  --font-sans: "Poppins", sans-serif;

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

@layer components{
  .section{
    @apply py-20 max-w-6xl mx-auto
  }
}

@keyframes pulseGlow {
  0%, 100% {
    box-shadow: 0 0 20px rgba(59,130,246,0.8), 0 0 40px rgba(59,130,246,0.6);
  }
  50% {
    box-shadow: 0 0 35px rgba(59,130,246,1), 0 0 60px rgba(59,130,246,0.9);
  }
}
